body {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../public/background.jpg");
  background-size: cover;
  margin: 0;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  font-family: 'Lobster', cursive;
  color: wheat;
}

h1{
  @media (min-width: 600px){
    font-size: 4rem;
  }
  @media (max-width: 600px){
    font-size: 2rem;
  }

}
#root{
  height: 100vh;
  width: 100vw;
}
.header {
  display: grid;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.logo{
  filter: invert(89%) sepia(65%) saturate(302%) hue-rotate(314deg) brightness(99%) contrast(94%);
  @media (max-width: 600px){
    height: 200px;
  }
}

.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .cite{
    font-size: .5rem;
    opacity: 0.2;
    a{
      color: wheat;
      text-decoration: none;
      font-size: .5rem; 
    }
  }

}